body{
    margin:0;
    padding:0;
}

h3{
    margin-top: 0;
}

img{
    padding-left:150px;
    margin-right: 15px;
    
}
#f_div{
    padding:3px;
    font-size: 40px;
    color:#420D09; 
    display:flex;  
    align-items: center; 
    padding: 2px 20px;
}
#s_div{
    font-size:20px;
    color:darkred;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
#s_div h2{
    margin:0;
    font-size: 36px;
}
#s_div p{
    margin:0;
    font-size: 14px;
}

nav{
    background-color:#880808; 
    display:flex;
    justify-content: end;
}
a{
    color:azure;
    padding:10px;
    text-decoration: none;
}